<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>restaurant maps</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script src="https://kit.fontawesome.com/8bc2e2612b.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600&family=Noto+Sans+TC:wght@300;400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          {{#if isAuthenticated}} {{ user.name }}'s {{/if}}美食地圖
        </a>

        {{#if isAuthenticated}}
        <a href="/users/logout" class="btn btn-outline-secondary">Logout</a>
        {{else}}
        <a href="/users/login" class="btn btn-outline-secondary">Login</a>
        {{/if}}
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  {{!-- render partial template here --}}
  {{{ body }}}

  {{!-- include Javascript files here --}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

</body>

</html>